body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {

    max-width: 900px;
    margin: 0 auto;
    margin-top: 0.5%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col-6{
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    margin: auto 2%;
  }

  .userForm-container, .searchForm-container{
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 20px;
  }

  .btn-form-group{
    display: flex;
    align-items: center;
  }

  input[type="radio"]{
    margin: 0 auto;
    margin-right: 4%;
  }

  .radio-container {
    display: flex;
    margin-right: 2%;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .userList{
    flex-direction: column;
    margin-top: 1%;
  }
table{
    width: 100%;
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid #ddd;
    padding: 8px;
}
th{
    background-color: #f2f2f2;
}
@media (max-width: 768px){
    .container{
        max-width: 100%;
        margin: 10px;
    }
}
